<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <!-- The following works in IIS8 and above -->
    <handlers>
      <remove name="SecurityServer" />
      <add name="SecurityServer" verb="*" path="securityserver/*" type="hyper.SecurityServer" resourceType="Unspecified" />
      <remove name="Ping" />
      <add name="Ping" verb="*" path="hyper/server/ping.ashx" type="hyper.Ping" resourceType="Unspecified" />
    </handlers>
    <staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
